<p id="infoComp">lists-comp</p>


<div class="container">
  <div class="card" style="width:auto">
    <div class="card-header">
      <h3>Listes existantes</h3>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"> Créer une nouvelle liste</button>
      <hr>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog"> <!-- Renvoi vers le comp list-edit qui s'ouvre dans un modal-->
          <app-list-edit></app-list-edit>
        </div>
      </div>

      <!--1e boucle sur les listes / afficher les titres de listes -->
      <div class="container-fluid" *ngFor="let elemListe of listes">
        <app-list-view [listeInput]="elemListe"></app-list-view>
         <!-- Envoi elemListe dans ListInput vers @Input de <List-View.ts>-->
      </div>
      <br>
    </div>
  </div>
</div>