<div class="container">
    <p id="infoComp">list-view comp</p>
  <div class="row">
    <!--<div class="col-sm-6">-->
      
      <div class="col-sm-8">
          <h4>Nom de la liste (id):</h4> <!-- ListeInput = 1 objet complet (nom liste + options) de la liste du service-->
          <p>id de liste : {{listeInput.id}} -- name de la liste : {{listeInput.listName}}</p>
          <h5>Options de la liste :</h5>

          <div *ngFor="let elem of listeInput.listValue"> 
            <!--boucle sur listValue de ListeInput (cf @Input / <lists.html>) / afficher les options -->
            <p>id de option : {{ elem.id }} -- cle de option : {{ elem.cle }} -- name de option : {{ elem.name }}

            </p>
          </div>
          <hr>
        </div>
    <!--</div>-->
    <div class="col-sm-4">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">modifier la liste</button>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <app-list-edit ></app-list-edit>
        </div>
      </div>
    </div>
  </div>
</div>
