<p id="infoComp">List-edit comp</p>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <p class="modal-title">modifier la liste</p>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="card" style="width:auto">
        <div class="card-header">
          <h4>Ajouter une liste</h4>
        </div>
        <br>
        <form [formGroup]="form" (ngSubmit)="createList()">
          <!-- [] fait le lien avec le form dans le .ts / () ative createList-->
          <div class="form-group">
            <br>
            <label for="listName">Saisir le nom de la liste : </label>
            <input type="text" name="listName" class="form-control" placeHolder="nom de la liste" focus="true" formControlName="listName"  required>
          </div>
          <hr>
          <div formArrayName="listValue">
            <div class="form-group" *ngFor="let optionControl of getOptions().controls ; let i = index">
              <label>Saisir le nom de l'option : </label>
              <input type="text" class="form-control" [formControlName]="i" focus="true" required placeholder="nom de l'option">
              <!-- i indexe le tableau (met le i  et la valeur de input (formControlName) dans le tableau dans le .ts) pour pouvoir boucler dessus-->
            </div>
            <button type="button" class="btn btn-outline-info" (click)="onAddOptions()">Ajouter une option</button>
          </div>
          <br>
          <hr>
          <button id="btn1" class="btn btn-success" type="submit" [disabled]="form.invalid">Valider la liste</button>
          <button id="btn1" type="return" class="btn btn-outline-secondary" data-dismiss="modal">Retour</button>
          
          <!-- bloque le bouton tant que tous les champs ouverts ne sont pas remplis -->
        </form>
      </div>
      <br>
    </div>
  </div>
</div>
